body {
    font-family: 'Poppins';
    font-size: 22px;
}

p {
    margin: 0 0 15px;
    overflow-wrap: break-word;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    line-height: 32px;
    color: var(--p-color);
}

ul {
    list-style: none outside;
}

a {
    color: #252525;
}

#app {
    overflow: hidden;
    position: relative;
    padding: 0 150px;
    margin-top: 30px;
}


/* begin section 1 */

.bg-heading {
    padding: 8px 20px;
    background-color: #f2f3fe;
    border-radius: 13px;
    display: block;
    color: #3d38ff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    width: 240px;
    margin: 50px auto 10px auto;
}

.heading {
    color: #252525;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    padding: 20px 0;
}

.highlight.highlight-underline {
    position: relative;
    padding: 0;
    border-radius: unset;
    background-color: unset !important;
    background-image: unset;
}

.highlight.highlight-underline .highlight-word {
    position: relative;
    z-index: 1;
}

.highlight.highlight-underline .highlight-word .highlight-border {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    width: calc(100% + 0.1em);
    height: 15%;
    margin-left: -0.15em;
    transform: skew(-12deg) translateX(0);
    background: #0089F7;
    z-index: -1;
}

.section-1 p {
    width: 80%;
    margin: 0 auto;
}

.bg-start {
    padding: 25px 20px;
    background-color: #3c8f69;
    border-radius: 10px;
    width: 100%;
    margin: 30px auto 10px auto;
}

.bg-start p {
    color: #FFFFFF;
}

.image_wrapper {
    position: relative;
    overflow: hidden;
    margin: 40px 0;
}

.image_wrapper {
    box-sizing: border-box;
}

.image_wrapper img {
    width: 100%;
    max-width: 100.1%;
    height: auto;
}


/* end section 1 */


/* section 2 */

.mySlides {
    display: none
}

.section-2 img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.section-2 .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/* video  */

.section-2 .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoWrapper {
    width: 100%;
    max-height: 800px;
}

.videoWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-holder {
    text-align: center;
    margin: 0 auto;
}

.video {
    width: 100%;
    max-height: 800px;
    outline: none;
    object-fit: contain;
}

.video-full {
    width: 100%;
    height: auto;
    max-height: 80vh;
    outline: none;
    object-fit: contain;
    display: flex;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .video-holder {
        width: calc(100% - 20px);
        margin: 0 10px;
    }
    .video {
        height: auto;
    }
}

.video-section .container {
    display: inline-flex;
    width: -webkit-fill-available;
}

.video-section .container .title {
    margin-top: 25px;
}

.video-section .container .col-expl {
    flex: 0 0 50%;
    max-width: 50%;
}

.video-section .list {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
}

.video-section .list .item {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-flex;
    align-items: center;
}

.video-section .list .item i {
    color: #1B36B9;
    margin-right: 15px;
}

.video-section .list .item p {
    flex-wrap: wrap;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
}

#boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
}

.boxclose:before {
    content: "x";
}

#fade:hover~#boxclose {
    display: none;
}

.test:hover~.test2 {
    display: none;
}

.play-button {
    background-color: var(--primary-color);
    padding: 10px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 98;
    opacity: 1;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.play-button.float {
    position: absolute;
    top: 50%;
    left: 45%;
}

.play-button:hover {
    -webkit-animation: heartBeat 1s infinite alternate;
    animation: heartBeat 1s infinite alternate;
}

.play-button.shaded {
    /* Primary */
    background: var(--primary-color);
    /* color-shadow:primary */
    box-shadow: 0px 80px 80px rgba(9, 160, 29, 0.15), 0px 41.7776px 33.4221px rgba(13, 134, 64, 0.108), 0px 22.3363px 17.869px rgba(11, 155, 71, 0.089), 0px 12.5216px 10.0172px rgba(10, 151, 93, 0.075), 0px 6.6501px 5.32008px rgba(27, 54, 185, 0.0605839), 0px 2.76726px 2.21381px rgba(27, 54, 185, 0.0421718);
}

.play-button i {
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 5px;
    margin-left: 2px;
}

.bt-mute {
    position: absolute;
    height: 35px;
    width: 35px;
    opacity: 0;
    top: 15%;
    z-index: 10;
    right: 15px;
}

.bt-mute i {
    margin: 0 !important;
}


/* end section 2 */


/* section 3 */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.c {
    position: relative;
    margin: 1em auto;
    width: 100%;
}

div.c input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: 0;
}

div.c h1 {
    /* background: steelblue; */
    background: #3c8f69;
    color: white;
    padding: 30px;
    position: relative;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 26px;
}

div.c label::before {
    content: "";
    display: inline-block;
    border: 15px solid transparent;
    border-left: 20px solid white;
}

div.c label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

div.c div.p {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

div.c div.p p {
    padding: 30px 30px 10px 30px;
}

div.c input:checked~h1 label::before {
    border-left: 15px solid transparent;
    border-top: 20px solid white;
    margin-top: 12px;
    margin-right: 10px;
}

div.c input:checked~h1~div.p {
    max-height: 300px;
}

div.c a {
    color: steelblue;
}


/* section 4 */

.section-4 {
    margin-top: 30px;
    margin-bottom: 50px;
}

ul.list_custom {
    margin-top: 30px;
    color: #252525;
}

ul.list_custom li {
    position: relative;
    margin: 0 0 30px 0;
    padding-left: 50px;
    font-size: 18px;
}

ul.list_custom li i {
    position: absolute;
    left: 25px;
    top: 4px;
    font-size: 17px;
    transform: translateX(-50%);
    line-height: 20px;
}

ul.list_custom li:after {
    content: "";
    width: 70px;
    height: 1px;
    overflow: hidden;
    background: rgba(0, 0, 0, .08);
    position: absolute;
    left: 0;
    bottom: -11px;
}


/* section 5 */

.section-5 {
    padding: 80px 150px;
    background-color: #333333;
    overflow: hidden;
}

.section-5 h2 {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 0px;
}

.section-5 p {
    font-size: 18px;
}

.section-5 .col-attr {
    padding: 24px 24px 10px 24px;
    border-radius: 70px;
    border: 1px solid #fff;
}

.section-5 .row.row-attr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5 .row.row-attr p {
    font-size: 15px;
}


/* section 6 */

.section-6 {
    position: relative;
    overflow: hidden;
    padding: 50px 150px;
    background-color: #333;
}

.section-6 h4 {
    margin-bottom: 10px;
    color: white;
    font-size: 26px;
    line-height: 38px;
    font-weight: 500;
    letter-spacing: 0px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.footer-info p {
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.section-6 ul.links {
    list-style: none;
}

.section-6 ul.links li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.section-6 ul.links li a:hover {
    color: #3c8f69;
    ;
}

.section-6 .icons a:hover {
    color: #3c8f69;
    cursor: pointer;
}

.section-6 .icons h3 {
    color: white;
    font-size: 26px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.section-6 .icons a {
    color: white;
}

.section-6 .icons h3 i {
    padding-left: 20px;
    font-size: 28px;
    color: white;
}

.section-6 .icons .call-us {
    color: white;
    font-size: 15px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}


/* One page */

.wrap-one img {
    width: 100%;
}

.wrap-one .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-one .have-fun {
    font-size: 30px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.google-play {
    margin-top: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.google-play img {
    width: 65%;
    max-width: 220px;
    min-width: 150px;
}

.google-play:hover {
    transform: scale(1.3);
}